@charset "UTF-8";


html {
    height: auto;
}


.slide-menu {
    left: -295px;
}

header {
    position: fixed;
    width: 25%;
    min-width: 365px;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 100;
    cursor: pointer;
    white-space: nowrap;
    background-color: black;
}
